MONGO_URL=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGO_TEST_URL=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
DB_NAME=smartqueue
TEST_DB_NAME=smartqueue_test
ADMIN_SECRET=change-this-secret
DEFAULT_SERVICE_TIME_SECONDS=300
